node_modules/
dist/
.env
.env.local
.env.*.local
/.vercel
.DS_Store
*.log
coverage/
/.idea
/.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
/.cache
/.parcel-cache
/.turbo
/.next
/.nuxt
/.expo
/.history
