CREATE TABLE pill_clams (
  id SERIAL PRIMARY KEY,
  species TEXT,
  image_url TEXT,
  author TEXT,
  license TEXT,
  notes TEXT,
  description TEXT,
  plica TEXT,
  glossy TEXT,
  shape TEXT,
  posterior_point TEXT,
  callus_present TEXT,
  c4_shape TEXT,
  c2_shape TEXT,
  striation_regular TEXT,
  ligament_long TEXT,
  umbo_taal TEXT,
  ligamentpit_shape TEXT
);
